www/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Status Meter</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='img/logo.png' rel='shortcut icon'>
  </head>
  <body style='background-color:black;'>
    <div id='circle_charts'>
      <div class='circle_chart'>
        <div class='header'>Anytime Data</div>
        <div id='anytime_circle'></div>
      </div>
      <div class='circle_chart'>
        <div class='header'>Bonus Data</div>
        <div id='bonus_circle'></div>
      </div>
    </div>
    <div id='usage_bar'>
      <div id='bar_border'>
        <div id='bar_today'></div>
        <div id='bar_fill'></div>
      </div>
    </div>
    <div id='data_stats'>
      <table id='data_stats'>
        <tr>
          <th>
            Date
          </th>
          <th>
            Reset Date
          </th>
          <th>
            Projected Throttle
          </th>
        </tr>
        <tr>
          <td id='date_today'></td>
          <td id='date_reset'></td>
          <td id='date_throttle'></td>
        </tr>
      </table>
    </div>
    <div id='plotted_data'>
      <div id='plot'></div>
    </div>
  </body>
  <div class='hidden' id='icon_circle'></div>
  <script src='js/jquery-1.12.4.min.js' type='text/javascript'></script>
  <script src='js/helpers.js' type='text/javascript'></script>
  <script src='js/circles.min.js' type='text/javascript'></script>
  <script src='js/moment.min.js' type='text/javascript'></script>
  <script src='js/jquery.jqplot.min.js' type='text/javascript'></script>
  <script src='js/jqplot.dateAxisRenderer.js' type='text/javascript'></script>
  <script src='js/jqplot.highlighter.js' type='text/javascript'></script>
  <link href='css/jquery.jqplot.min.css' rel='stylesheet' type='text/css'>
  <script src='js/hnsm.js' type='text/javascript'></script>
  <link href='css/hnsm.css' rel='stylesheet' type='text/css'>
</html>

index.haml
!!! 5
%html
	%head
		%title Status Meter
		%meta{:charset=>"utf-8"}
		%meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
		%link{:rel => "shortcut icon", :href => "img/logo.png"}

	%body{:style=>"background-color:black;"}
		#circle_charts
			.circle_chart
				.header Anytime Data
				#anytime_circle

			.circle_chart
				.header Bonus Data
				#bonus_circle

		#usage_bar
			#bar_border
				#bar_today
				#bar_fill


		#data_stats
			%table#data_stats
				%tr
					%th
						Date
					%th
						Reset Date
					%th
						Projected Throttle
				%tr
					%td#date_today
					%td#date_reset
					%td#date_throttle

		#plotted_data
			#plot

	#icon_circle.hidden
	%script{:type => "text/javascript", :src  => "js/jquery-1.12.4.min.js"}
	%script{:type => "text/javascript", :src  => "js/helpers.js"}
	%script{:type => "text/javascript", :src  => "js/circles.min.js"}
	%script{:type => "text/javascript", :src  => "js/moment.min.js"}
	%script{:type => "text/javascript", :src  => "js/jquery.jqplot.min.js"}
	%script{:type => "text/javascript", :src  => "js/jqplot.dateAxisRenderer.js"}
	%script{:type => "text/javascript", :src  => "js/jqplot.highlighter.js"}
	%link{:rel => :stylesheet, :type => "text/css", :href => "css/jquery.jqplot.min.css"}

	%script{:type => "text/javascript", :src  => "js/hnsm.js"}
	%link{:rel => :stylesheet, :type => "text/css", :href => "css/hnsm.css"}
